@page
@model AddProgramModel
@{
    ViewData["Title"] = "Home page";
    List<string> schoolList = Database.DBoutput();
    List<string> MajorList = Database.DBAllMajors();
}

<div class="text-center">
    <h1 class="display-4">Add New Program</h1>
    @if (!string.IsNullOrEmpty(Model.Result))
    {
        <p style="color: red">@Model.Result</p>
    }
    <form method="post">
        <div class="form-floating mx-auto mb-3 col-md-6">
            <select class="form-select" id="floatingSelect" name="school" aria-label="Floating label select example">
                <option selected></option>
                @foreach (string school in schoolList)
                {
                    <option value="@school">@school</option>
                }
            </select>
            <label for="floatingSelect">Choose University</label>
        </div>

        <div class="form-floating mx-auto mb-3 col-md-6">
            <select class="form-select" id="floatingSelect" name="major" aria-label="Floating label select example">
                <option selected></option>
                @foreach (string major in MajorList)
                {
                    <option value="@major">@major</option>
                }
            </select>
            <label for="floatingSelect">Choose Major</label>
        </div>
        <input type="button" class="btn btn-primary mt-3" onclick="window.location.href='/AddUniversity'" value="Add University">
        <input type="button" class="btn btn-primary mt-3" onclick="window.location.href='/AddMajor'" value="Add Major">
        <input type="submit" class="btn btn-primary mt-3" value="Submit">
    </form>
</div>