@page
@model AdminOptionsModel
@{
    ViewData["Title"] = "Home page";
    List<string> UniversityNameList = table.DBoutputProgramUniversityName();
    List<string> UniversityCountryList = table.DBoutputProgramCountry();
    List<string> UniversityContinentList = table.DBoutputProgramContinent();
    List<string> UniversityMajorList = table.DBoutputProgramMajor();
}
<head>
    <style>
        body {
            background-image: url('https://images.pexels.com/photos/335393/pexels-photo-335393.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
        #backBox {
            background-color: white;
            padding: 20px;
        }
    </style>
</head>
<body class="text-center">
    <div id="backBox" class="card mx-auto">

        <h1 class="display-4">Study Abroad Questionnaire</h1>
        <div class="row row-cols-1 row-cols-md-1 g-4">
            <table>
                <tr>
                    <th>UniversityName</th>
                    <th>Country</th>
                    <th>Continent</th>
                    <th>Major</th>
                    <th>Actions</th>
                </tr>

                @for (int i = 0; i < UniversityContinentList.Count; i++)
                {
                    <form method="post" id="deleteForm_@i">
                        <input type="hidden" name="school" value="@UniversityNameList[i]" />
                        <input type="hidden" name="major" value="@UniversityMajorList[i]" />

                    <tr style="border-bottom: 1px solid #ddd;">
                        <td>@UniversityNameList[i]</td>
                        <td>@UniversityCountryList[i]</td>
                        <td>@UniversityContinentList[i]</td>
                        <td>@UniversityMajorList[i]</td>
                        <td>
                            <input class="btn btn-primary mt-3" type="submit" value="Edit" asp-page-handler="Edit">
                            @*<input class="btn btn-primary mt-3" type="submit" value="Delete" asp-page-handler="Delete">*@
                        <button type="button" class="btn btn-danger mt-3" data-bs-toggle="modal" data-bs-target="#exampleModal_@i">
                            Delete
                        </button>
                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal_@i" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel">Are you sure you want to delete?</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <button type="button" class="btn btn-secondary mt-3" data-bs-dismiss="modal">Cancel</button>
                                            <input class="btn btn-danger mt-3" type="submit" value="Delete" asp-page-handler="Delete" form="deleteForm_@i">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>

                    </tr>
                    </form>
                }

            </table>


            <input class="btn btn-primary mt-3" type="button" onclick="window.location.href='/AddProgram'" value="New Program">
        </div>

    </div>

</body>