@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    List<string> ContinentList = Database.DBoutputContinents();
    List<string> CountryList = Database.DBoutputCountries();
    List<string> MajorList = Database.DBoutputMajors();
}

<body class="text-center">
    <h1 class="display-4">Study Abroad Questionnaire</h1>
    <form method="post">
        <div class="row row-cols-1 row-cols-md-1 g-4">
            <div class="col">
                <div class="card mx-auto" style="width: 30rem;">
                    <div class="card-body text-start">
                        <h6>Select major:</h6>


                        @foreach (string school in MajorList)
                        {

                            <input type="checkbox" id="@school">
                            <label for="@school">@school</label>
                            <br />
                        }
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mx-auto" style="width: 30rem;">
                    <div class="card-body text-start">
                        <h6>Select Continent:</h6>
                        @foreach (string school in ContinentList)
                        {

                            <input type="checkbox" id="@school">
                            <label for="@school">@school</label>
                            <br />
                        }

                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mx-auto" style="width: 30rem;">
                    <div class="card-body text-start">
                        <h6>Select Country:</h6>
                        @foreach (string school in CountryList)
                        {

                            <input type="checkbox" id="@school">
                            <label for="@school">@school</label>
                            <br />
                        }
                    </div>
                </div>
            </div>
        </div>
        <input class="btn btn-primary mt-3" type="submit" value="See Results">
    </form>
</body>

