@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    List<string> UniversityNameList = printresults.DBoutputProgramUniversityName();
    List<string> UniversityCountryList = printresults.DBoutputProgramCountry();
    List<string> UniversityContinentList = printresults.DBoutputProgramContinent();
    List<string> UniversityMajorList = printresults.DBoutputProgramMajor();
}

<head>

    <style>
        body {
            background-image: url('https://images.pexels.com/photos/335393/pexels-photo-335393.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
            background-repeat: no-repeat;
            background-attachment: fixed;
        }

        #backBox {
            background-color: #E8D9C1;
            padding: 20px;
            width: 50rem;
        }
        @@media (max-width: 575.98px) {
            #backBox {
                width: 25rem;
            }
        }
    </style>
</head>

<body class="text-center">
    <div id="backBox" class="card mx-auto">
        <h1 class="display-4">Results</h1>

        <div class="row row-cols-1 row-cols-md-2 g-4">

            @for (int i = 0; i < UniversityContinentList.Count; i++)
            {
                <div class="col">
                    <div class="card mx-auto" style="width: 22rem;">
                        <img src="https://web.archive.org/web/20161101185241if_/http://static.panoramio.com/photos/large/121046425.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">@UniversityNameList[i]</h5>
                            <p>@UniversityNameList[i]</p>
                            <p>@UniversityCountryList[i]</p>
                            <p>@UniversityContinentList[i]</p>
                            <p>@UniversityMajorList[i]</p>

                        </div>
                    </div>
                </div>

            }
        </div>

        @*<div class="row row-cols-1 row-cols-md-2 g-4">
            @for (int i = 0; i < UniversityContinentList.Count; i++)
            {
                <div class="col">
                    <div class="card mx-auto" style="width: 18rem;">
                        <div class="card-body">

                            <p>@UniversityNameList[i]</p>
                            <p>@UniversityCountryList[i]</p>
                            <p>@UniversityContinentList[i]</p>
                            <p>@UniversityMajorList[i]</p>

                        </div>
                    </div>
                </div>

            }


        </div>*@

    </div>

</body>
